@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

body {
  font-family: "Raleway", sans-serif; // weights: 300, 400, 600, 800
}

$min_width: 600px;
$max_width: 1200px;
$h1_min_font: 20px;
$h1_max_font: 26px;
$h2_min_font: 15px;
$h2_max_font: 20px;
$h3_min_font: 15px;
$h3_max_font: 20px;

$fluid-type-extra-large-size--max: 22px;
$fluid-type-extra-large-size--min: 18px;
$fluid-type-large-size--max: 19px;
$fluid-type-large-size--min: 16px;
$fluid-type-med-size--max: 16px;
$fluid-type-med-size--min: 12px;
$fluid-type-med-small-size--max: 14px;
$fluid-type-med-small-size--min: 10px;
$fluid-type-small-size--max: 12px;
$fluid-type-small-size--min: 10px;
$fluid-type-smallest-size--max: 10px;
$fluid-type-smallest-size--min: 8px;

h1,
.text-xlarge {
  font-weight: 100;
  @include fluid-type($min_width, $max_width, $h1_min_font, $h1_max_font);
  font-family: "Lobster", cursive;
  letter-spacing: 0.05em;
  margin: 0;
}

h2,
.text-large {
  color: #fff;
  font-weight: 100;
  @include fluid-type($min_width, $max_width, $h2_min_font, $h2_max_font);
  // border-bottom: $primary-color solid 1px;
  font-family: "Lobster", cursive;
  letter-spacing: 0.05em;
}

h3,
.text-med {
  font-weight: 400;
  @include fluid-type($min_width, $max_width, $h3_min_font, $h3_max_font);
}

h4 {
  font-family: "Lobster", cursive;
  letter-spacing: 0.1em;
  border-bottom: 1px solid $primary-color;
}

p {
  line-height: 1.5;
  letter-spacing: 0.05em;
}

a {
  color: inherit;
}

.text-medium-small {
  @include fluid-type(
    $min_width,
    $max_width,
    $fluid-type-med-small-size--min,
    $fluid-type-med-small-size--max
  );
}

.text-small {
  @include fluid-type(
    $min_width,
    $max_width,
    $fluid-type-small-size--min,
    $fluid-type-small-size--max
  );
}

.text-smallest {
  @include fluid-type(
    $min_width,
    $max_width,
    $fluid-type-smallest-size--min,
    $fluid-type-smallest-size--max
  );
}

.text-center {
  text-align: center;
}

ul.infoList {
  letter-spacing: 0.1em;
}
.smallText {
  font-size: 10;
}
